/* Custom styles for scroll-bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    color: white;
    padding: 20px;
    background: black;
    font-family: Helvetica, Arial, sans-serif;
}

.input-container {
    width: 40%;
    border: none;
    outline: none;
    font-size: 1rem;
    max-width: 500px;
    padding: 15px 20px;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .input-container {
        width: auto;
    }
}

.button-container {
    border: none;
    padding: 15px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 10px;
    background: silver;
    transform: scale(1);
    transition: transform 200ms ease;
}

@media (max-width: 600px) {
    .button-container {
        margin-left: 0px;
        margin-top: 10px;
    }
}

.search-container {
    padding: 20px;
}

.recent-searchs-container {
    margin-top: 50px;
}

.recent-searchs {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    color: gray;
}

.result-key {
    margin-left: 10px;

}

.button-container:hover {
    transform: scale(1.05);
    transition: transform 200ms ease;
}

.grid-container {
    padding-left: 20px;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card {
    padding: 5px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.card img {
    /* width: 60%; */
    width: 100%;
    margin: 10px;
    height: 100%;
    max-width: 400px;
    border-radius: 8px;
}

.card-text {
    height: 50%;
    width: 100%;
    bottom: 0;
    position: fixed;
    display: flex;
    padding-bottom: 40px;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%, rgba(85, 85, 85, 1) 100%);
}

.paragraph {
    color: silver;
}